<div class="header-container">
  <div class="header-text">
    <h2>Catalogue des Ouvrages</h2>
    <p>Vue de lecture (Query Side) alimentée par les événements Kafka.</p>
  </div>
  <button (click)="refresh()" color="primary" mat-fab>
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<mat-card class="table-card">
  <mat-card-content class="no-padding">
    <table [dataSource]="dataSource" mat-table>
      <ng-container matColumnDef="isbn">
        <th *matHeaderCellDef mat-header-cell> ISBN</th>
        <td *matCellDef="let element" class="font-mono" mat-cell> {{ element.isbn }}</td>
      </ng-container>

      <ng-container matColumnDef="titre">
        <th *matHeaderCellDef mat-header-cell> Titre</th>
        <td *matCellDef="let element" class="font-bold" mat-cell> {{ element.titre }}</td>
      </ng-container>

      <ng-container matColumnDef="auteur">
        <th *matHeaderCellDef mat-header-cell> Auteur</th>
        <td *matCellDef="let element" class="text-secondary" mat-cell> {{ element.auteur }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreExemplaires">
        <th *matHeaderCellDef class="text-center" mat-header-cell> Exemplaires</th>
        <td *matCellDef="let element" class="text-center" mat-cell>
          <span [class.badge-empty]="element.nombreExemplaires === 0" class="badge"
                style="margin-bottom: 4px; display: inline-block;">
            {{ element.nombreExemplaires }}
          </span>
          <div *ngIf="element.codesBarres && element.codesBarres.length > 0"
               style="display: flex; flex-direction: column; gap: 4px; align-items: center; margin-top: 4px;">
            <span *ngFor="let cb of element.codesBarres"
                  style="font-size: 10px; background: #eee; padding: 2px 6px; border-radius: 4px; font-family: monospace;">{{ cb }}</span>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" class="table-row" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>
